<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button 
            routerLink="/"
            class="btn btn-link">
            Home
        </button>
    </div>
    <div class="info">
        <strong>Author</strong>
        <small>12.09.2020</small>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nam cupiditate fuga dolor ut explicabo deleniti in. Debitis similique recusandae soluta aut voluptatum voluptatibus accusamus praesentium molestiae suscipit facilis in, provident officia, animi, fugiat repudiandae dicta at delectus ab sequi eaque quam quisquam. Accusantium eligendi temporibus fuga error, id soluta.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nam cupiditate fuga dolor ut explicabo deleniti in. Debitis similique recusandae soluta aut voluptatum voluptatibus accusamus praesentium molestiae suscipit facilis in, provident officia, animi, fugiat repudiandae dicta at delectus ab sequi eaque quam quisquam. Accusantium eligendi temporibus fuga error, id soluta.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nam cupiditate fuga dolor ut explicabo deleniti in. Debitis similique recusandae soluta aut voluptatum voluptatibus accusamus praesentium molestiae suscipit facilis in, provident officia, animi, fugiat repudiandae dicta at delectus ab sequi eaque quam quisquam. Accusantium eligendi temporibus fuga error, id soluta.
        </p>
    </div>
</div>